.boton-amarillo{
    @include boton($amarillo,block)
}
.boton-verde{
    @include boton($verde, block);
}
.boton-verde-adm{
    margin-top: .5rem;
    @include boton($verde, block);    
    @include tablet{
        @include boton($verde, inline-block);
    }

}
.boton-amarillo-il{
    @include boton($amarillo,inline-block)
}
.boton-verde-il {
    @include boton($verde, inline-block);
}


.btn-editar, .btn-borrar{
    color: #000;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    
}
.btn-secondary:hover{
    background-color: rgba(177, 171, 171, 0.836);
}
.btn-editar:visited{
    color: #000;
}