.footer {
  background-color: $grisOscuro;
  margin-bottom: 0;
 
  .contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
    }
  }
  
  
  .copyright {
    color: $blanco;
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    margin: 0; 
    order: 1;
    margin-bottom: .5rem;
    @include tablet{
      order: -1;
      margin-bottom: 0;
    }      

    }
}
