.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: smaller;

    &.error {
        background-color: $rojo;
        p{
            color: $blanco;
            margin: 0;
            font-size: 1.2rem;
            font-weight: 400;

        }
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    thead {
        background-color: $verde;

        th {
            color: $blanco;
            padding: 2rem;
        }
    }
    td{
        border: .1rem solid $verde;
    }

    .imagen-tabla {
        width: 10rem;
        display: inline;
        margin: .5rem;

    }
}

.imagen-small {
    width: 20rem;
}
